* {
  border: none;
  border-radius: 0;
  font-family: Cartograph CF Nerd Font, monospace;
  font-weight: bold;
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background: rgba(0,0,0,0);
  color: rgba(21, 18, 27, 1);
}

tooltip {}

#workspaces button {
  color: #9a8c98
}

#workspaces button.active {
  color: rgba(21, 18, 27, 1);
}

#workspaces button.focused {
  color: rgba(21, 18, 27, 1);
}

#workspaces button.urgent {}

#workspaces button:hover {}

#custom-language,
#custom-updates,
#custom-caffeine,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight {}

#tray {}

#workspaces {}

#custom-caffeine {}

#custom-language {}

#custom-updates {}

#window {}

#clock {}

#network {}

#pulseaudio {}

#pulseaudio.microphone {}

#battery {}

#custom-endright {}
